input:focus,
textarea:focus {
    outline: none;
}

textarea {
    resize: none;
}

.page {
    margin: 6px 0;
    padding: 47px 10px 0;
    border-top: 1px solid #c1cdb8;
    border-bottom: 1px solid #c1cdb8;
}

.post__logo {
    margin: 0 auto 47px;
}

.post__wrapper {
    border-bottom: 1px solid #c1cdb8;
    margin: 0 0 6px 0;

    .title {
        font-size: 44px;
        font-weight: 400;
        text-align: center;
        margin-bottom: 42px;
        color: #262626;
    }

    .text__date {
        font-family: 'Lato', serif;
        font-size: 14px;
        font-style: italic;
        margin: 22px 0 31px;
        color: #7d7d7d;
    }
}

.description {
    margin-bottom: 45px;
    font-family: 'Lato', serif;
    font-size:  15px;
    line-height: 22px;
    color: #7d7d7d;
}

.post_img {
    img {
        width: 100%;
        height: auto;
    }
}

.reviews {
    border-top: 1px solid #c1cdb8;
}

#nav-single {
    display: flex;
    align-items: center;
    margin: 64px 0 81px;

    .nav-previous,
    .nav-next {
        position: relative;
        flex: 1;
        padding: 0 0 0 75px;
        font-family: 'Lato', serif;
        font-size: 14px;
        color: #7d7d7d;
        > a {
            max-width: 300px;
            font-size: 17px;
            font-family: 'Playfair Display', serif;
            color: #262626;
        }

        p {
            position: absolute;
            top: 50%;
            left: 0;
            transform: translateY(-50%);
            background: #3f5b2c url('assets/img/arrow2.png') no-repeat center;

            a {
                display: block;
                width: 45px;
                height: 75px;
                font-size: 0;
            }
        }
    }

    .nav-next {
        display: flex;
        align-items: flex-end;
        flex-direction: column;
        padding: 0 75px 0 0;

        p {
            position: absolute;
            top: -50%;
            left: auto;
            right: 0;
            transform: translateY(-50%);
            transform: rotate(180deg);
        }
    }
}




.comment-form-comment {
    label{
        display: none;
    }
}

.comments-title {
    font-size: 24px;
    font-weight: 400;
    margin-bottom: 34px;
}

.comment-list {
    border-bottom: 1px solid #c1cdb8;
}

.comment-body {
    display: flex;
    margin-bottom: 60px;
}

.comment-body {
    &:not(:last-child) {
        margin-bottom: 60px;
    }
}

.children {
    padding-left: 56px;
    margin-bottom: 60px;
}

.comment-author {
    margin-right: 25px;
    
    img {
        width: 60px;
        height: 60px;
        border-radius: 50%;
    }
}

.author__container {
    display: flex;
    margin-bottom: 16px;

    .fn {
        font-size: 20px;
        color: #262626;
    }

    .reply {
        padding: 5px;
        background: #3f5b2c;

        a {
            display: block;
            font-size: 11px;
            text-transform: uppercase;
            letter-spacing: 2px;
            color: #ffffff;
        }
    }

    .says {
        align-self: center;
        color: #cac8c6;
        margin: 0 5px;
    }
}

.comment__date {
    font-family: 'Lato', serif;
    font-size: 14px;
    font-style: italic;
    color: #7d7d7d;
    margin-bottom: 16px;
}

.comment__text {
    p {
        font-family: 'Lato', serif;
        font-size: 15px;
        color: #7d7d7d;
    }
}

.comment-reply-title {
    margin-bottom: 30px;
    font-size: 24px;
    font-weight: 400;
    color: #262626;
}

.comment-respond {
    margin: 6px 0 0;
    border-top: 1px solid #c1cdb8;
    padding: 70px 0;

    .comment-form {
        display: flex;
        flex-wrap: wrap;
    }

    .comment-form-author,
    .comment-form-email,
    .comment-form-comment,
    .form-submit {
        width: 100%;
    }

    .comment-form-author,
    .comment-form-email {
        flex: 1;

        input {
            min-width: 310px;
            width: 100%;
            height: 30px;
            border-top: none;
            border-left: none;
            border-right: none;
            border-bottom: 1px solid #d8d8d8;
        }
    }

    .comment-form-author {
        margin-right: 45px;
    }

    .comment-form-comment {
        margin: 20px 0 40px;

        #comment {
            width: 100%;
            height: 30px;
            border-top: none;
            padding: 6px 0;
            align-items: center;
            border-left: none;
            border-right: none;
            border-bottom: 1px solid #d8d8d8;
        }
    }
}

textarea::-webkit-input-placeholder {
    font-family: 'Playfair Display', serif;
}
  
textarea:-moz-placeholder { /* Firefox 18- */
    font-family: 'Playfair Display', serif;
}
  
textarea::-moz-placeholder {  /* Firefox 19+ */
    font-family: 'Playfair Display', serif; 
}
  
textarea:-ms-input-placeholder {
    font-family: 'Playfair Display', serif;
}
  
textarea::placeholder {
    font-family: 'Playfair Display', serif;
}

.form-submit {
    input,
    input:focus {
        outline: none;
        background: #3f5b2c;
        border: none;
        font-size: 12px;
        padding: 20px 40px;
        text-transform: uppercase;
        letter-spacing: 2px;
        color: #ffffff;

    }
}


@media screen and (max-width: 767px) {
    .comment-respond .comment-form {
        flex-direction: column;
    }

    .comment-respond .comment-form-author {
        margin: 0 0 18px 0;
    }

    #nav-single {
        flex-direction: column;
        text-align: center;
        margin: 30px 0 30px;
    }

    #nav-single .nav-next {
        align-items: center;
        margin-top: 10px;
    }

    #nav-single .nav-previous, #nav-single .nav-next {
        padding: 0;
    }

    #nav-single .nav-previous p, #nav-single .nav-next p{
        display: none;
    }
}